<nav class="bg-gray-800 p-4 text-center">
    <a href="/" class="text-white px-2 hover:text-gray-300 {{ current_page == 'home' ? 'underline' : '' }}">Home</a>

    {% if not session.user %}
        <a href="/login" class="text-white px-2 hover:text-gray-300 {{ current_page == 'login' ? 'underline' : '' }}">Login</a>
        <a href="/register" class="text-white px-2 hover:text-gray-300 {{ current_page == 'register' ? 'underline' : '' }}">SignUp</a>
    {% else %}
        <a href="/profile" class="text-white px-2 hover:text-gray-300 {{ current_page == 'profile' ? 'underline' : '' }}">Profile</a>
        <a href="/logout" class="text-white px-2 hover:text-gray-300 {{ current_page == 'logout' ? 'underline' : '' }}">Logout</a>

        {% if session.user.is_admin %}
            <a href="/update" class="text-white px-2 hover:text-gray-300 {{ current_page == 'delete' ? 'underline' : '' }}">Admin</a>
        {% endif %}

        {% if session.user.is_seller %}
            <a href="/create" class="text-white px-2 hover:text-gray-300 {{ current_page == 'create' ? 'underline' : '' }}">Create Product</a>
        {% else %}
            <a href="/wishlist" class="text-white px-2 hover:text-gray-300 {{ current_page == 'wishlist' ? 'underline' : '' }}">Wishlist</a>
        {% endif %}
        
    {% endif %}

    <a href="/cart" class="text-white px-2 hover:text-gray-300 {{ current_page == 'cart' ? 'underline' : '' }}">Cart</a>
</nav>
