{% extends 'base.html.twig' %}

{% block title %}Delete User{% endblock %}

{% block content %}
<h2>Edit User</h2>
<form action="/update/single/deleteUser" method="post">
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>DOB</th>
            </tr>
                <tr>
                    <th><input type="text" name="id" value="{{ user.id }}" readonly></th>
                    <th><input type="text" name="username" value="{{ user.username }}" readonly></th>
                    <th><input type="text" name="fullname" value="{{ user.fullname }}"></th>
                    <th><input type="email" name="email" value="{{ user.email }}"></th>
                    <th><input type="date" name="dob" value="{{ user.dob }}"></th>
                </tr>
        </table>
    </div>
    <div>
        <button type="submit" >Delete</button>
    </div>
</form>
{% endblock %}
